:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

.restaurant-card-img {
  width: auto;
  height: 300px;
  justify-content: center;
  opacity: 60%;
  margin-bottom: 1rem;
}

.restaurant-card {
  border: #282c34 1px solid;
  width: 60%;
  margin-left: 20%;
  margin-bottom: 2rem;
  text-align: center;
}

.home-title {
  text-align: center;
}

.nav-link {
  color: blue;
  margin-left: 1rem;
  margin-top: 1rem;
  border-radius: 10px;
  height: 2rem;
}

.nav-container {
  background-color: red;
  width: 120%;
  margin-left: -1rem;
  margin-top: -0.5rem;
  height: 4rem;
}

.account-img {
  height: 300px;
  width: auto;
}

.menu-container {
  text-align: center;
}

.menu-item-container {
  margin-bottom: 5rem;
  border: black 2px solid;
  width: 50%;
  translate: 50%;
}

.menu-item-img {
  width: 50%;
  height: auto;
  margin-top: 1rem;
}

.add-to-cart-btn {
  margin-bottom: 1rem;
}

.review-container {
  text-align: center;
}

.notification {
  border: 1px black solid;
  width: 20rem;
  translate: 170%;
  margin-bottom: 1rem;
}

.review-container {
  border: 1px dashed black;
  width: 25rem;
  margin-left: 44%;
}