:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
}









/* <---------- Login Page ----------> */
.login-page {
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  height: 100vh;
  width: 100vw;
  background-image: url("https://i.etsystatic.com/10868806/r/il/6e5775/4079544308/il_fullxfull.4079544308_c7w1.jpg");
  background-size:cover;
}

.notification {
  border: 1px solid black;
  border-radius: 15px;
  background-color: white;
  color: black;
  width: 20%;
  padding: 1rem;
  margin-left: 75%;
  margin-top: 5rem;
  position: fixed;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: red;
}

.login-title {
  background-color: white;
  border: 1px solid grey;
  border-radius: 15px;
  color: #2196f3;
  font-size: 3rem;
  height: 5rem;
  margin-left: 50%;
  margin-top: 5rem;
  padding-top: 1rem;
  text-align: center;
  transform: translateX(-50%);
  width: 600px;
}

.login-form {
  border: 1px solid grey;
  border-radius: 15px;
  z-index: 1;
  width: 35%;
  margin: auto;
  margin-top: 7rem;
  margin-bottom: 7rem;
  padding-bottom: 2rem;
  background-color: rgb(250, 250, 250);
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.login {
  font-size: 1.5rem;
  color: #2196f3;
  margin-left: 10%;
  margin-bottom: 0;
  text-align: center;
  width: 80%;
}

.input-group{
  font-size: 1rem;
  margin-left: 10%;
  position: relative;
  --primary: #2196f3;
  width: 80%;
}

.login-input{
  all: unset;
  background-color: rgb(250, 250, 250);
  border-bottom: 1px solid black;
  color: #000000;
  height: 2rem;
  margin-top: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: left;
  transition: 200ms
    cubic-bezier(0.4, 0, 0.2, 1);
  width: 90%;
}

.login-input:focus {
  border-bottom: 1px solid
    var(--primary);
}

.login-label{
  color: rgb(136,137,142);
  left: 5%;
  margin-top: 2rem;
  pointer-events: none;
  position: absolute;
  top: 1rem;
  transition: 200ms
    cubic-bezier(0.4, 0, 0.2, 1);
}

.login-input:is(:focus, :valid) ~ label {
  background-color: rgb(250, 250, 250);
  color: var(--primary);
  padding-inline: 0.3rem;
  transform:
    translateY(-130%)
    scale(0.9);
}

.login-submit-btn {
  background-color: white;
  border: 1px solid #2196f3;
  border-radius: 10px;
  cursor: pointer;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1rem;
  height: 2.5rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  transition: all 300ms;
  width: 30%;
}

.login-submit-btn:hover {
  background-color: rgb(184, 223, 255);
  transform: scale(1.05);
  transition: all 300ms;
}

.register-btn {
  background-color: white;
  border: 1px solid #2196f3;
  border-radius: 5px;
  cursor: pointer;
  height: 1.5rem;
  margin-left: 0.5rem;
  transition: all 300ms;
  width: 20%;
}

.register-btn:hover {
  background-color: rgb(184, 223, 255);
  transition: all 300ms;
}










/* <---------- Register Page ----------> */
.register-content {
  display: grid;
  grid-template-columns: 60% 20%;
  margin-bottom: 5rem;
  margin-top: 5rem;
}

.register-form {
  background-color: rgb(250, 250, 250);
  border: 1px solid grey;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-left: 10%;
  padding: 1rem;
  text-align: center;
}

.register-select {
  margin-top: 2rem;
}

.verifications-form {
  background-color: white;
  border: 1px solid grey;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: rgb(255, 0, 0);
  height: auto;
  max-height: 225px;
  margin-left: 10%;
  margin-top: 50%;
  padding: 1rem;
  text-align: center;
  width: 100%;
}









/* <---------- NavBars ----------> */
.nav-container {
  float: right;
  height: 2rem;
  right: 1rem;
  top: 1rem;
  position: absolute;
  width: 600px;
}

.nav-link {
  background-color: white;
  border: 1px solid #2196f3;
  border-radius: 10px;
  cursor: pointer;
  float: right;
  height: 2.5rem;
  margin-left: 15px;
  transition: all 300ms;
  width: 100px;
}

.nav-link:hover {
  background-color: rgb(184, 223, 255);
  transform: scale(1.05);
  transition: all 300ms;
}










/* <---------- Home Page ----------> */
.home-page {
  background-attachment: fixed;
  background: linear-gradient(#5bfcf3, #1f79f4);
  background-position: 50% 50%;
  background-size: cover;
  height: 100vh;
  overflow-x: hidden;
  position: fixed;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  scroll-behavior: smooth;
  width: 100vw;
  z-index: 0;
}

.page-title {
  background-color: white;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 3rem;
  margin-left: 50%;
  margin-top: 8rem;
  padding: 1rem;
  text-align: center;
  transform: translateX(-50%);
  width: 40%;
}

.restaurants-container {
  column-gap: 1%;
  display: grid;
  grid-template-columns: 32% 32% 32%;
  margin-bottom: 3rem;
  padding: 1%;
  row-gap: 1rem;
  width: 100%;
}

.restaurant-card {
  text-align: center;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 15px;
  height: 360px;
  transition: all 300ms;
}

.restaurant-card:hover {
  transform: scale(1.025);
  transition: all 300ms;
}

.restaurant-card-img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  cursor: pointer;
  height: 300px;
  justify-content: center;
  opacity: 80%;
  width: 100%;
}

.restaurant-card-img~h2 {
  margin-top: 0.5rem;
  padding-left: 1rem;
  text-align: left;
}

.restaurant-card-img~p {
  float: right;
  margin-right: 1rem;
  transform: translateY(-3.5rem);
}










/* <---------- Restaurant Page (User) ----------> */
.restaurant-page {
  background-attachment: fixed;
  background: linear-gradient(#5bfcf3, #1f79f4);
  background-position: 50% 50%;
  background-size: cover;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  height: 100vh;
  overflow-x: hidden;
  position: fixed;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  scroll-behavior: smooth;
  width: 100vw;
  z-index: 0;
}

.modal-container {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  border: 1px solid #888;
  border-radius: 15px;
  height: 11rem;
  margin: 20% auto;
  padding: 1rem;
  width: 40%;
}

.modal-content p{
  margin-top: 2rem;
  text-align: center;
  width: 90%;
}

.close-modal {
  color: #aaa;
  float: right;
  font-size: 1rem;
  font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.notif-text {
  width: 50%;
  margin: auto;
}

.new-cart-container {
  text-align: center;
  padding-top: 1rem;
}

.new-cart-btn {
  background-color: white;
  border: 1px solid #2196f3;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  height: 2rem;
  margin-top: 1rem;
  transition: all 300ms;
  width: 20%;
}

.old-cart-btn {
  background-color: white;
  border: 1px solid #2196f3;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  height: 2rem;
  margin-left: 4rem;
  margin-top: 1rem;
  transition: all 300ms;
  width: 20%;
}

.new-cart-btn:hover,
.old-cart-btn:hover {
  background-color: #888;
  transition: all 300ms;
}

.menu-container {
  column-gap: 1%;
  display: grid;
  grid-template-columns: 24.25% 24.25% 24.25% 24.25%;
  margin-top: 5rem;
  padding: 1%;
  row-gap: 1rem;
}

.menu-item-container {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 15px;
  height: 300px;
}

.menu-item-img {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  height: 200px;
  object-fit: cover;
  width: 100%;
}

.menu-item-img~h3 {
  margin-left: 1rem;
}

.menu-item-img~p {
  margin-left: 1rem;
}

.add-to-cart-btn {
  background-color: white;
  border: 1px solid #2196f3;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  height: 1.75rem;
  margin-left: 70%;
  position: relative;
  transform: translateY(-2.4rem);
  width: 80px;
}

.add-to-cart-btn:hover {
  background-color: rgb(184, 223, 255);
  transform: translateY(-2.4rem);
  transition: all 300ms;
}

.reviews-title {
  text-align: center;
  margin-top: 5rem;
}

.reviews-container {
  text-align: center;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(4, 20%);
  grid-auto-rows: auto;
  grid-gap: 1rem;
  margin-bottom: 4rem;
  margin-top: 2rem;
}

.review-card {
  border: 1px dashed black;
  text-align: center;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 15px;
}










/* <---------- Restaurant Page (Restaurant) ----------> */
.update-menu-container {
  column-gap: 1%;
  display: grid;
  grid-template-columns: 24.25% 24.25% 24.25% 24.25%;
  margin-bottom: 6rem;
  margin-top: 5rem;
  padding: 1%;
  row-gap: 1rem;
}

.update-item-container {
  background-color: white;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 300px;
}

.update-menu-img {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  height: 200px;
  object-fit: cover;
  width: 100%;
}

.update-menu-img~h3 {
  margin-left: 1rem;
}

.update-menu-img~p {
  margin-left: 1rem;
}

.remove-item-btn {
  background-color: white;
  border: 1px solid #2196f3;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  float: right;
  height: 1.75rem;
  margin-right: 1rem;
  transform: translateY(-2.5rem);
  transition: all 300ms;
  width: 80px;
}

.remove-item-btn:hover {
  background-color: rgb(184, 223, 255);
  transform: translateY(-2.5rem);
  transition: all 300ms;
}

.update-item-btn {
  background-color: white;
  border: 1px solid #2196f3;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  float: right;
  height: 1.75rem;
  margin-right: 1rem;
  transform: translateY(-2.5rem);
  width: 80px;
}

.update-item-btn:hover {
  background-color: rgb(184, 223, 255);
  transform: translateY(-2.5rem);
  transition: all 300ms;
}

.add-item-title {
  text-align: center;
}

.add-item-input-group{
  font-size: 1rem;
  margin-left: 10%;
  position: relative;
  --primary: #2196f3;
  width: 80%;
}

.add-item-input{
  all: unset;
  border-bottom: 1px solid black;
  color: #000000;
  height: 1rem;
  margin-bottom: 1.75rem;
  margin-top: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: left;
  transition: 200ms
    cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
}

.add-item-input:focus {
  border-bottom: 1px solid
    var(--primary);
}

.add-item-label{
  color: rgb(136,137,142);
  left: 1%;
  margin-top: 2rem;
  pointer-events: none;
  position: absolute;
  top: -1.6rem;
  transition: 200ms
    cubic-bezier(0.4, 0, 0.2, 1);
}

.add-item-input:is(:focus, :valid) ~ label {
  color: var(--primary);
  padding-inline: 0.3rem;
  transform:
    translateY(-100%)
    scale(0.9);
}

.select-input {
  border-radius: 10px;
  float: left;
  height: 2rem;
  margin-left: 20%;
  text-align: center;
  width: 25%;
}

.add-item-btn {
  background-color: white;
  border: 1px solid #2196f3;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  height: 2rem;
  margin-left: 10%;
  transition: all 300ms;
  width: 25%;
}

.add-item-btn:hover {
  background-color: rgb(184, 223, 255);
  transition: all 300ms;
}

.update-modal-content {
  background-color: #fefefe;
  border: 1px solid #888;
  border-radius: 15px;
  height: 18rem;
  margin: 16% auto;
  padding: 1rem;
  width: 35%;
}

.update-modal-title {
  text-align: center;
}










/* <---------- Account Page (User) ----------> */
.account-page {
  background-attachment: fixed;
  background: linear-gradient(#5bfcf3, #1f79f4);
  background-position: 50% 50%;
  background-size: cover;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  height: 100vh;
  overflow-x: hidden;
  position: fixed;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  scroll-behavior: smooth;
  width: 100vw;
  z-index: 0;
}

.account-page-main-content {
  display: grid;
  grid-template-columns: 40% 60%;
  margin-bottom: 5rem;
  margin-top: 5rem;
  overflow-y: auto;
}

.account-details-container {
  background-color: white;
  border: 1px solid black;
  border-radius: 15px;
  margin-left: 50%;
  padding-left: 1rem;
  padding-right: 1rem;
  transform: translateX(-50%)
            translateX(-0.5rem);
  width: 80%;
}

.account-img {
  border: 1px solid rgb(222, 222, 222);
  border-radius: 15px;
  height: 325px;
  margin-left: 50%;
  margin-top: 2rem;
  transform: translateX(-50%);
  width: 325px;
}

.account-name-title {
  margin-top: 1rem;
  text-align: center;
}

.past-orders-container {
  background-color: white;
  border: 1px solid black;
  border-radius: 15px;
  max-height: 700px;
  margin-left: 50%;
  margin-top: 4rem;
  overflow-y: auto;
  padding: 1rem;
  padding-bottom: 0;
  padding-top: 0;
  transform: translateX(-50%);
  width: 80%;
}

.past-orders-container::-webkit-scrollbar {
  width: 0;
}

.past-orders-container h2{
  font-size: 2rem;
  margin-bottom: 2rem;
}

.past-orders-container h2+p{
  font-size: 1.25rem;
  right: 1.5rem;
  position: absolute;
  top: 0.8rem;
}

.past-order-container {
  border: 1px solid black;
  border-radius: 15px;
  box-sizing:border-box;
  height: 9rem;
  margin-bottom: 2rem;
  transition: height 0.3s ease;
}

.past-order-container.expanded {
  height: 30rem;
  overflow-y: auto;
}

.past-order-container.expanded::-webkit-scrollbar {
  width: 0px;
}

.dropdown-icon {
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 25px;
  cursor: pointer;
  float: right;
  margin-right: 1rem;
  margin-top: 2rem;
  position: relative;
  transform: translateY(-50%);
  transition: all 300ms;
  width: 30px;
}

.dropdown-icon:hover {
  background-color: rgb(177, 177, 177);
  transition: all 300ms;
}

.dropdown-icon~h3 {
  background-color: rgb(222, 222, 222);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  font-size: 1.5rem;
  height: 3rem;
  margin-top: 0;
  padding-left: 1rem;
  padding-top: 1rem;
  width: 97.6%;
}

.dropdown-icon~p {
  margin-left: 0.5rem;
  margin-top: -0.5rem;
}

.past-order-btns-container {
  float: right;
  margin-right: 1rem;
}

.past-order-btn {
  background-color: white;
  border: 1px solid #686868;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1rem;
  height: 2.25rem;
  margin-left: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  transform: translateY(-1.9rem);
  transition: all 300ms;
}

.past-order-btn:hover {
  background-color: rgb(222, 222, 222);
  transform:translateY(-1.9rem)
            scale(1.05);
  transition: all 300ms;
}

.past-order-details {
  column-gap: 1%;
  display: grid;
  grid-template-columns: 32% 32% 32%;
  margin-bottom: 1rem;
  opacity: 1;
  padding-left: 1.5%;
  row-gap: 0.6rem;
  transition: opacity 0.3s;
  width: 98.1%;
}

.past-order-details.hide {
  opacity: 0;
  pointer-events: none;
}

.past-order-item {
  background-color: rgb(222, 222, 222);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 18rem;
}

.past-order-item-img {
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 50%;
  object-fit: cover;
  width: 100%;
}

.past-order-item h3,
.past-order-item p{
  margin-left: 1rem;
}










/* <---------- Account Page (Restaurant) ----------> */
.add-customer-review-modal-container {
  background-color: rgba(0,0,0,0.4);
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.review-modal-content {
  background-color: #fefefe;
  border: 1px solid #888;
  border-radius: 15px;
  height: 20rem;
  margin: 15% auto;
  padding: 1rem;
  width: 35%;
}

.close-review-modal {
  color: #aaa;
  float: right;
  font-size: 1.5rem;
  font-weight: bold;
}

.close-review-modal:hover,
.close-review-modal:focus {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.review-modal-content textarea{
  border-radius: 10px;
  height: 62%;
  margin-left: 50%;
  padding: 0.5rem;
  transform: translateX(-50%);
  width: 96.5%;
}

.review-modal-content button{
  background-color: white;
  border: 1px solid grey;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 0.5rem;
  padding: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  transition: all 300ms;
}

.review-modal-content button:hover{
  background-color: rgb(222, 222, 222);
  transform: scale(1.05);
  transition: all 300ms;
}

.restaurant-account-img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-left: -1rem;
  width: 107.1%;
}

.account-review-modal-btn {
  background-color: white;
  border: 1px solid #686868;
  border-radius: 15px;
  cursor: pointer;
  float: right;
  font-size: 1rem;
  margin-top: 1.1rem;
  padding: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  transform: translateX(-10%);
  transition: all 300ms;
}

.account-review-modal-btn:hover {
  background-color: rgb(177, 177, 177);
  transform:translateX(-10%);
  transition: all 300ms;
}










/* <---------- Checkout Page ----------> */
.checkout-page {
  background-attachment: fixed;
  background: linear-gradient(#5bfcf3, #1f79f4);
  background-position: 50% 50%;
  background-size: cover;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  height: 100vh;
  overflow-x: hidden;
  position: fixed;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  scroll-behavior: smooth;
  width: 100vw;
  z-index: 0;
}

.cart-page-main-content {
  display: grid;
  grid-template-columns: 40% 60%;
  margin-bottom: 5rem;
  margin-top: 5rem;
}

.cart-restaurant-details {
  background-color: white;
  border: 1px solid black;
  border-radius: 15px;
  margin-left: 50%;
  padding-left: 1rem;
  padding-right: 1rem;
  transform: translateX(-50%)
            translateX(-0.5rem);
  width: 80%;
}

.cart-restaurant-details h1{
  margin-left: 1rem;
}

.cart-restaurant-img {
  border: 1px solid grey;
  border-radius: 10px;
  margin-left: 5%;
  width: 90%;
}

.cart-restaurant-review-sec {
  background-color: rgb(222, 222, 222);
  border: 1px solid black;
  border-radius: 15px;
  max-height: 300px;
  margin-bottom: 3rem;
  margin-left: 6%;
  margin-top: 3rem;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1rem;
  padding-bottom: 0;
  width: 80%;
}

.cart-restaurant-review-sec::-webkit-scrollbar {
  width: 0;
}

.cart-restaurant-review-sec h3{
  margin-top: 0;
}

.cart-restaurant-review-sec h3+p{
  float: right;
  transform: translateY(-3.6rem);
}

.single-review-container {
  border: 1px solid white;
  border-radius: 15px;
  margin-bottom: 1rem;
  width: 100%;
}

.single-review-container h4{
  background-color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  font-size: 0.9rem;
  margin: 0;
  padding: 0.25rem;
  padding-left: 0.5rem;
}

.single-review-container p{
  font-size: 0.8rem;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}

.add-review-container {
  border: 1px solid white;
  border-radius: 15px;
  height: 2.2rem;
  margin-bottom: 1rem;
}

.review-dropdown-icon {
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 25px;
  cursor: pointer;
  float: right;
  margin-right: 0.5rem;
  margin-top: 1.1rem;
  position: relative;
  transform: translateY(-50%);
  transition: all 300ms;
  width: 20px;
}

.review-dropdown-icon:hover {
  background-color: rgb(177, 177, 177);
  transition: all 300ms;
}

.add-review-container h1{
  background-color: white;
  border-radius: 15px;
  font-size: 1rem;
  margin: 0;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
}

.review-drop-content {
  opacity: 1;
  transition: opacity 0.2s;
}

.review-drop-content.hide {
  opacity: 0;
  pointer-events: none;
}

.add-review-container.expanded {
  height: 12rem;
}

.add-review-container.expanded h1{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.review-comment-textarea {
  border-radius: 10px;
  height: 5rem;
  margin-bottom: 1rem;
  margin-left: 5%;
  margin-top: 0.5rem;
  opacity: 1;
  padding: 0.5rem;
  transition: opacity 0.2s;
  width: 85%;
}

.add-review-btn {
  background-color: rgb(222, 222, 222);
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
  float: right;
  margin-right: 2rem;
  padding: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  transform: translateY(-0.5rem);
  transition: all 300ms;
}

.add-review-btn:hover {
  background-color: white;
  transform: scale(1.05) translateY(-0.5rem);
  transition: all 300ms;
}

.cart-details {
  background-color: white;
  border: 1px solid black;
  border-radius: 15px;
  max-height: 700px;
  margin-left: 5%;
  margin-top: 4rem;
  overflow-y: auto;
  padding: 1rem;
  width: 85%;
}

.cart-items {
  display: grid;
  grid-template-columns: 49.5% 49.5%;
  margin-top: 1rem;
  row-gap: 2rem;
}

.cart-item {
  border: 1px solid grey;
  border-radius: 15px;
  height: 290px;
  margin-left: 5%;
  width: 90%;
}

.cart-item-img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom: 1px solid grey;
  height: 80%;
  width: 100%;
}

.cart-item-img~h3 {
  margin-left: 0.75rem;
  margin-top: 0.25rem;
}

.cart-item-img~p {
  margin-left: 0.75rem;
  margin-top: -1.2rem;
}

.quantity-container {
  align-items: center;
  background-color: white;
  border: 1px solid black;
  border-radius: 25px;
  display: flex;
  float: right;
  height: 1.5rem;
  margin-right: 2rem;
  margin-top: -2.9rem;
  overflow: hidden;
  width: 5rem;
}

.minus-quantity {
  background-color: rgb(220, 220, 220);
  cursor: pointer;
  height: 1.5rem;
  text-align: center;
  width: 1.3rem;
}

.num-quantity {
  width: 2.4rem;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plus-quantity {
  background-color: rgb(220, 220, 220);
  cursor: pointer;
  height: 1.5rem;
  text-align: center;
  width: 1.3rem;
}

.total {
  float: left;
  margin-left: 2rem;
  margin-top: 1rem;
}

.checkout-btn {
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  float: right;
  font-size: 0.85rem;
  height: 2.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  transition: all 300ms;
  width: 20%;
}

.checkout-btn:hover {
  background-color: rgb(222, 222, 222);
  transform: scale(1.05);
  transition: all 300ms;
}

