:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

.restaurant-card-img {
  width: auto;
  height: 300px;
  justify-content: center;
  opacity: 60%;
  margin-bottom: 1rem;
}

.restaurants-container {
  border: 1px solid black;
  text-align: center;
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
}

.restaurant-card {
  border: #282c34 1px solid;
  text-align: center;
}

.home-title {
  text-align: center;
}

.nav-link {
  color: blue;
  margin-left: 1rem;
  margin-top: 1rem;
  border-radius: 10px;
  height: 2rem;
}

.nav-container {
  background-color: red;
  width: 120%;
  margin-left: -1rem;
  margin-top: -0.5rem;
  height: 4rem;
}

.account-img {
  height: 15rem;
  width: auto;
  justify-self: center;
}

.menu-container {
  text-align: center;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
}

.menu-item-container {
  border: black 1px solid;
}

.menu-item-img {
  width: 50%;
  height: auto;
  margin-top: 1rem;
}

.add-to-cart-btn {
  margin-bottom: 1rem;
}

.add-review-btn {
  margin-bottom: 1rem;
}

.notification {
  border: 1px black solid;
  margin-bottom: 1rem;
  width: 30%;
  margin-left: 35%;
}

.reviews-container {
  text-align: center;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(4, 20%);
  grid-auto-rows: auto;
  grid-gap: 1rem;
}

.review-card {
  border: 1px dashed black;
  text-align: center;
}

.update-menu-header {
  text-align: center;
}

.update-menu-container {
  border: 1px solid black;
  text-align: center;
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
}

.update-item-container {
  border: 1px solid black;
  padding: 1rem;
}

.update-menu-img {
  width: 70%;
  height: 60%;
  justify-self: center;
}

.remove-item-btn {
  width: 90%;
  height: 8%;
}

.update-item-btn {
  width: 90%;
  height: 8%;
}

.add-menu-item-form {
  border: 1px solid black;
}

.account-header {
  text-align: center;
}